<div class="row">
<div class="col-sm-6">
<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username,  { :class => 'form-control' } %>
    </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,  { :class => 'form-control' } %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, { :class => 'form-control' } %>
  </div>
  <div>
    <p>&nbsp</p>
  </div>
  <div class="actions"><%= f.submit "Sign Up", { :class => 'btn btn-outline-dark'} %></div>
<% end %>
  <div>
    <p>&nbsp</p>
  </div>
  </div>


  <div class="col-sm-6">
    <p>Sign up!<br>
    Only signed up users can use all the preferences of blog.<br>
    <strong>Use valid email.</strong><br>
      It is important, because we will sent you activation-email.<br></p>
  </div>

</div>
