<h2>Edit Post</h2>
<%= form_for :post, url: post_path(@post), method: :patch  do |f|  %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <div class="field">
    Title<br>
    <%= f.text_field(:title, { :class => 'form-control' }) %>
  </div>
  <div class="field">
    Text<br>
    <%= f.text_area(:body, { :class => 'form-control quill_container' }) %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tag_list, { :class => 'form-control' }  %>
  </div>
  <div>
    <p>&nbsp</p>
  </div>
  <div class="actions"><%= f.submit({ :class => 'btn btn-outline-dark' }) %></div>
<% end %>
