<h2>Add  New  Post</h2>
<div class="form">
<%= form_for :post, url: posts_path do |f|  %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-alert"><%= msg %></div>
    <% end %>
  <% end %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title,  { :class => 'form-control' } %>
    </div>
    <div class="field">
      <%= f.label :text %><br />
      <%= f.text_area :body,  { :class => 'form-control' } %>
    </div>
    <div class="field">
      <%= f.hidden_field(:user_id, :value => current_user.id )%>
    </div>
    <div>
      <p>&nbsp</p>
    </div>
    <div class="actions"><%= f.submit({ :class => 'btn btn-outline-dark' }) %></div>
<% end %>
</div>
