
<small><%= User.find(@post.user_id).username %></small><br>
<small>Tags:
  <% @post.tag_list.each do |tag| %>
    <%= link_to tag, tagged_path(tag: tag) %>
  <% end %>
</small>
<h1><%= @post.title %></h1>
<p><%= @post.body.html_safe %></p>
<!-- alternative ??  <%== %> -->

<% if current_user %>
<% if current_user.id == @post.user_id %>
  <hr>
    <%= link_to 'Edit', edit_post_path %>
    <a class="delete" data-toggle="modal" href="#delModal">Delete!</a>
    <%= render 'layouts/delete' %>
  <hr>
  <% else %>
    <hr>
  <% end %>
  <% end %>

<h4>Comments</h4>
<#= nested_comments @comments.subtree.arrange(:order => :created_at) %>

<hr>
<% @post.comments.each do |comment| %>
  <div class="container">
    <small><strong><%= comment.username %></strong></small>
    <small><%= comment.body %></small>
  </div>
<% end %>

<hr>
<% if current_user%>
<h2>Add New Comment</h2>
<%= form_for([@post, @post.comments.build]) do |f|  %>
  <div class="field">
    <%= f.hidden_field(:username, :value => current_user.username )%>
    <%= f.hidden_field(:user_id, :value => current_user.id )%>
    <%= f.hidden_field(:post_id, :value => @post.id )%>
    <%= f.hidden_field :parent_id %>
  </div>
  <div class="field">
    <%= f.text_area(:body, { :class => 'form-control' }) %>
  </div>
  <div><p>&nbsp</p></div>
  <div class="action"><%= f.submit('Add Comment', { :class => 'btn btn-outline-dark' }) %></div>
<% end %>
  <% else %>
  <div align="center">
    <small class="alert-notice"><strong>Log in to leave comment</strong></small>
  </div>
<% end %>
