
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#LoginModal">
  login</button>
<%= render 'layouts/login' %>

<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">To resume you need to be Logged In</h5>
      </div>
      <div class="modal-body">
        <%= form_tag sessions_path do %>
          <div class="field">
            <%= label_tag :email %><br/>
            <%= text_field_tag :email, params[:email], { :class => 'form-control' } %>
          </div>
          <div class="field">
            <%= label_tag :password %><br/>
            <input class="form-control" <%= password_field_tag :password %>
          </div>
          <div class="container">
            <small>Forgot password?  Reset</small><br>
            <small>Have no account?  <%= link_to "Sign Up", signup_path %></small>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Later</button>
        <div class="actions"><%= link_to "Log In", sessions_new_path, method: :get, :class => 'btn btn-outline-dark' %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
